.custom-header{
  background:#292c2f;
  padding:20px 40px;
  box-sizing:border-box;
  border:0;
  border-radius:0;
}

.custom-header a.navbar-brand.navbar-link{
  color:#fff;
  font:normal 28px Cookie, Arial, Helvetica, sans-serif;
  line-height:0.5;
  margin-right:40px;
  background:#292c2f;
}

.custom-header a.navbar-brand.navbar-link span{
  color:#bc40df;
}

.custom-header ul.nav.navbar-nav.links li a{
  font:14px Arial, Helvetica, sans-serif;
  opacity:0.9;
  text-decoration:none;
  color:#fff;
  background:#292c2f;
  border:0;
}

.custom-header ul.nav.navbar-nav li a:hover{
  opacity:1;
}

.custom-header .badge{
  position:absolute;
  top:4px;
  border-radius:2px;
  font-size:11px;
  color:#fff;
  background-color:#2A6A92;
  padding:2px 4px;
  font-weight:normal;
}

.custom-header li.dropdown, .custom-header li.dropdown.open{
  background:#3a3c3e;
}

.custom-header li.dropdown .dropdown-toggle{
  border-radius:2px;
  color:#fff;
  padding:8px 14px;
  background:#3a3c3e;
  opacity:0.9;
  border:0;
  margin:0;
}

.custom-header li.dropdown .dropdown-toggle:focus, .custom-header li.dropdown .dropdown-toggle:hover, .custom-header li.dropdown .dropdown-toggle:active{
  background:#3a3c3e;
  color:#fff;
}

.custom-header ul.nav.navbar-nav.navbar-right .dropdown li a{
  font:bold 13px Arial, Helvetica, sans-serif;
}

@media (min-width:1200px) {
  img.dropdown-image{
    border-radius:50%;
    width:32px;
    margin-left:10px;
  }
}

div.macbook-mockup{
  position:relative;
  margin:20px;
}

.macbook-mockup img.device{
  width:100%;
  height:auto;
}

.macbook-mockup .screen{
  position:absolute;
  width:76%;
  height:82.5%;
  top:6.5%;
  border-radius:4px;
  left:12%;
  background-color:#aaa;
  overflow:hidden;
  background:url(../../assets/img/11.jpg);
  background-size:cover;
  background-position:center;
}

.macbook-mockup .screen:before{
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-26%;
  right:-39%;
  transform:rotate(-19deg);
  opacity:0.1;
}

footer{
  background-color:#292c2f;
  box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing:border-box;
  width:100%;
  text-align:left;
  font:bold 16px sans-serif;
  padding:55px 50px;
  margin-top:80px;
  bottom:0;
  color:#fff;
}

.footer-navigation h3{
  margin:0;
  font:normal 36px Cookie, cursive;
  margin-bottom:20px;
  color:#fff;
}

.footer-navigation h3 a{
  text-decoration:none;
  color:#fff;
}

.footer-navigation h3 span{
  color:#5383d3;
}

.footer-navigation p.links a{
  color:#fff;
  text-decoration:none;
}

.footer-navigation p.company-name{
  color:#8f9296;
  font-size:14px;
  font-weight:normal;
  margin-top:20px;
}

@media (max-width:767px) {
  .footer-contacts{
    margin:30px 0;
  }
}

.footer-contacts p{
  display:inline-block;
  color:#ffffff;
  vertical-align:middle;
}

.footer-contacts p a{
  color:#5383d3;
  text-decoration:none;
}

.fa.footer-contacts-icon{
  background-color:#33383b;
  color:#fff;
  font-size:18px;
  width:38px;
  height:38px;
  border-radius:50%;
  text-align:center;
  line-height:38px;
  margin:10px 15px 10px 0;
}

span.new-line-span{
  display:block;
  font-weight:normal;
  display:block;
  font-weight:normal;
  font-size:14px;
  line-height:2;
}

.footer-about h4{
  display:block;
  color:#fff;
  font-size:14px;
  font-weight:bold;
  margin-bottom:20px;
}

.footer-about p{
  line-height:20px;
  color:#92999f;
  font-size:13px;
  font-weight:normal;
  margin:0;
}

div.social-links{
  margin-top:20px;
  color:#fff;
}

.login-top-margin{
  padding-top:20%;
}

.social-links a{
  display:inline-block;
  width:35px;
  height:35px;
  cursor:pointer;
  background-color:#33383b;
  border-radius:2px;
  font-size:20px;
  color:#ffffff;
  text-align:center;
  line-height:35px;
  margin-right:5px;
  margin-bottom:5px;
}

.login-card{
  max-width:280px;
  padding:40px 40px;
  background-color:#F7F7F7;
  margin:0 auto 25px;
  margin-top:50px;
  border-radius:2px;
  box-shadow:0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-card .profile-img-card{
  width:68px;
  height:68px;
  margin:0 auto 10px;
  display:block;
  border-radius:50%;
}

.login-card .profile-name-card{
  font-size:16px;
  font-weight:bold;
  text-align:center;
  margin:10px 0 0;
  min-height:1em;
}

.login-card .reauth-email{
  display:block;
  color:rgb(085, 133, 208);
  line-height:2;
  margin-bottom:10px;
  font-size:14px;
  text-align:center;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  box-sizing:border-box;
}

.login-card .form-signin input[type=email], .login-card .form-signin input[type=password], .login-card .form-signin input[type=text], .login-card .form-signin button{
  height:44px;
  font-size:16px;
  width:100%;
  display:block;
  margin-bottom:10px;
  z-index:1;
  position:relative;
  box-sizing:border-box;
}

.login-card label{
  color:#000000;
}

.login-card .form-signin .form-control:focus{
  border-color:rgb(085, 133, 208);
  outline:0;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(085, 133, 208);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(085, 133, 208);
}

.login-card .btn.btn-signin{
  font-weight:700;
  height:36px;
  line-height:36px;
  font-size:14px;
  background:rgb(85, 133, 208);
  border-radius:3px;
  border:none;
  transition:all 0.218s;
  padding:0;
}

.login-card .btn.btn-signin:hover, .login-card .btn.btn-signin:active, .login-card .btn.btn-signin:focus{
  background:rgb(085, 133, 208);
}

.login-card .forgot-password{
  color:rgb(085, 133, 208);
}

.login-card .forgot-password:hover, .login-card .forgot-password:active, .login-card .forgot-password:focus{
  color:rgb(085, 133, 208);
}


